portfolio/James Alport CV.odt
portfolio/James Alport Resume 20250203.pdf
portfolio/ignorepls/BBSIngredientsDelete.mp4
portfolio/ignorepls/BBSIngredientsEditandReset.mp4
portfolio/ignorepls/BBSIngredientsFreeze.mp4
portfolio/ignorepls/BBSIngredientsSearch.mp4
portfolio/ignorepls/BBSIngredientsSubmit.mp4
portfolio/ignorepls/BBSPlannerAdd.mp4
portfolio/ignorepls/BBSPlannerBackandRemove.mp4
portfolio/ignorepls/BBSPlannerCancelReservation.mp4
portfolio/ignorepls/BBSPlannerReserver.mp4
portfolio/ignorepls/BBSPlannerShop.mp4
portfolio/ignorepls/BBSRecipe.mp4
portfolio/ignorepls/BBSRecipeActivate.mp4
portfolio/ignorepls/BBSRecipeAddNew.mp4
portfolio/ignorepls/BBSRecipeDelete.mp4
portfolio/ignorepls/BBSRecipeEdit.mp4
portfolio/ignorepls/BBSShopAdd.mp4
portfolio/ignorepls/BBSShopBuy.mp4
portfolio/ignorepls/BBSShopBuyandEdit.mp4
portfolio/ignorepls/BBSShopDelete.mp4
portfolio/ignorepls/BBSShopEditandDelete.mp4
portfolio/ignorepls/MisacChangeOctave.mp4
portfolio/ignorepls/MisacHover.mp4
portfolio/ignorepls/MisacKeySignature.mp4
portfolio/ignorepls/MisacPlay.mp4
portfolio/ignorepls/MisacVolumeKeyBindings.mp4
portfolio/ignorepls/MisacVolumeNumNotes.mp4
