
@keyframes gradient-background-horizontal {
    0% {
        background-position: 50% center;
    }
    25% {
        background-position: 0% center;
    }
    50% {
        background-position: 50% center;
    }
    75% {
        background-position: 100% center;
    }
    0%, 100% {
        background-position: 50% center;
    }
}

@media screen and (width >= 700px) {
    .layout-header{
        background: linear-gradient(to right, var(--colour-primary-light), var(--colour-primary));
        animation-name: gradient-background-horizontal;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        background-size: 200% auto;
        flex-direction:row;
        height:fit-content;

        #header-image-container{
            &.purple{
                width:30vw;
                height:15vw;
                .header-image.purple{
                    object-fit:contain;
                    height:300%;
                    z-index: 0;
                }
            }
            &.blue{
                width:15vw;
                height:15vw;
                position:absolute;
                .header-image.blue{
                    object-fit:contain;
                    height:150%;
                }
            }
            overflow-x: hidden;
            overflow-y: hidden;
            display: flex;
            align-items: center;
            justify-content: end;
        }
        #header-items-container{
            font-family:var(--header-font);
            .small{
                display:none;
            }
            .large{
                display:flex;
                flex-direction:column;
                justify-content: center;
                align-items: flex-end;
            }
            justify-content: space-between;
            h1{
                display:flex;
                flex-direction: row;
                justify-content: center;
                /*Font Size Calculations!
                Height of the available space is based on 15% of Viewport WIDTH...so 15vw.
                Padding is 12px each (6px top and bottom for all 3 texts).
                so spreading evenly for 3 texts means each text has 5vw - 12px height.
                */
                font-size:calc((6vw - min(12px, 1vw))/1.15);
                padding: min(6px, 0.5vw) 20px;
                margin: 0px;
                color:var(--colour-text-secondary);
            }
            h2{
                font-size:calc((4vw - min(12px, 1vw))/1.15);
                padding: min(6px, 0.5vw) 20px;
                margin:0px;
            }
            h3{
                font-size:calc((3vw - min(12px, 1vw))/1.15);
                text-align: end;
                padding: min(6px, 0.5vw) 20px;
                margin:0px;
            }
        }
    }
}

@media screen and (width < 700px) {
    .layout-header{
        background: linear-gradient(to bottom, var(--colour-primary-light), var(--colour-primary));
        flex-direction:column;
        width:100%;
        height:25vh;

        #header-image-container{
            width:100%;
            height:20vh;
            &.purple{
                height:max(20vh, 50vw);
                position:absolute;
                .header-image.purple{
                    object-fit:contain;
                    height:400%;
                    z-index: 0;
                }
            }
            &.blue{
                height:max(10vh, 25vw);
                position:absolute;
                .header-image.blue{
                    object-fit:contain;
                    height:200%;
                }
            }
            overflow-x: hidden;
            overflow-y: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:flex-end;
        }
        #header-items-container{
            position: absolute;
            bottom : 0;
            width:100%;
            .small{
                display:flex;
                flex-direction:column;
                justify-content: center;
                align-items: center;
            }
            .large{
                display:none;
            }
            justify-content: space-between;
            h3{
                text-align:center;
                padding: 0px 20px;
            }
            h1{
                display:flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin:12px 0px;
                color:var(--colour-text-secondary);
                font-size: min(calc(6vw), 36px);
                font-family:var(--header-font);
            }
            h2{
                margin:12px 0px;
            }
        }
    }
}

.layout-header{    
    display:flex;    
    #header-items-container{
        flex:2;    
    }
}
.layout-header{
  position:relative;
  max-height:70vh;
  overflow:hidden;
}
header{
  width:100%;
}