.Layout {
    text-align: center;
    --colour-primary-light  :#3D79D6;
    --colour-secondary-light:#4D3DD6;
    --colour-tertiary-light: #3DC6D6;
    --colour-primary-intermed:#2459AB;
    --colour-primary:  #1D4788;
    --colour-secondary:#281D88;
    --colour-tertiary: #1D7D88;
    --colour-primary-hover:  #183C72;
    --colour-secondary-hover:#221872;
    --colour-tertiary-hover: #186972;
    --colour-text:#aaccff;
    --body-padding:20px;
    
    background-color: var(--colour-primary);
    color: var(--colour-text);


    display:flex;
    flex-direction: column;
    /*--colour-text:#0B1C36;*/
    .layout-main{
      display:flex;
      flex:1;
      .nav-bar{
        background-color: var(--colour-primary-light);
      }
      flex-direction:column;
      #navigation-list{
        flex-direction:row;
      }
    }

    .layout-header{
      
      display:flex;
      @media screen and (orientation: landscape){
        flex-direction:row;
        height:fit-content;
      }
      @media screen and (orientation: portrait){
        flex-direction:column;
        width:100%;
      }
      
      #header-image-container{
        @media screen and (orientation: landscape){
          width:25vw;
          height:25vw;
          overflow-x: hidden;
          overflow-y: hidden;
          display: flex;
          align-items: center;
          justify-content: end;
          .header-image {
            object-fit:contain;
            height:200%;
          }
        }
        @media screen and (orientation: portrait){
          width:100%;
          height:20vh;
          overflow-x: hidden;
          overflow-y: hidden;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content:flex-end;
          .header-image {
            object-fit:contain;
            width:100%;
            max-width:1000px;
          }
        }
      }

      #header-items-container{
        flex:2;
        @media screen and (orientation: landscape){
          justify-content: space-between;
          background: linear-gradient(to right, var(--colour-primary-light), var(--colour-primary));
          h1{
            display:flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size:min(calc(2vw), 36px)
          }
          h2{
            font-size:min(calc(1.5vw), 33px);
          }
          h3{
            font-size:min(calc(1.5vw), 30px);
            text-align: end;
            padding: 0px 20px;
          }
          .small{
            @media screen and (width <= 800px){
              display:flex;
              flex-direction:column;
              justify-content: center;
              align-items: center;
            }
            @media screen and (width > 800px){
              display:none;
            }
          }
          .large{
            @media screen and (width >= 800px){
              display:flex;
              flex-direction:column;
              justify-content: center;
              align-items: center;
            }
            @media screen and (width < 800px){
              display:none;
            }
          }
        }
        @media screen and (orientation: portrait){
          justify-content: space-between;
          background: linear-gradient(to bottom, var(--colour-primary-light), var(--colour-primary));
          h3{
            text-align:center;
            padding: 0px 20px;
          }
          h1{
            display:flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin:12px 0px;
          }
          h2{
            margin:12px 0px;
          }
          .small{
            @media screen and (width <= 800px){
              display:flex;
              flex-direction:column;
              justify-content: center;
              align-items: center;
              margin:10px;
            }
            @media screen and (width > 800px){
              display:none;
            }
          }
          .large{
            @media screen and (width >= 800px){
              display:flex;
              flex-direction:column;
              justify-content: center;
              align-items: center;
            }
            @media screen and (width < 800px){
              display:none;
            }
          }
        }
      }

    }
  }

a{
  &:visited{
      color:(var(--colour-tertiary))
  }
  color:(var(--colour-tertiary-light))
}

.layout-header{
    background-color: var(--colour-primary-light);
    position:relative;
    max-height:70vh;
    overflow:hidden;
  }
  .page-layout{
    background-color: var(--colour-primary);
    max-height:100%;
    width:calc(100% - 10px);
    padding:5px;
    .sub-page-layout{
      display:flex;
      background-color: var(--colour-primary);
      overflow-y:auto;
      width:100%;
      .page-body{
        width:calc(100% - var(--body-padding)*2);
        padding:var(--body-padding);
      }
    }

    display: flex;
    flex-direction: column;
    flex:1;
    align-items: center;
    justify-content: top;
    font-size: calc(10px + 1vmin);
    color: var(--colour-text);
    .hyperlink{
      color: var(--colour-tertiary-light);
      font-weight: bold;
      &:visited{
        color: var(--colour-tertiary);
      }
    }
  }

.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.justify-left{
  text-align: start;
}

.hoverable{
  transition:background-color 0.3s linear;
  padding:10px;
  border-radius:5px;
  &:hover{
    background-color: var(--colour-primary-hover);
  }
}

.clickable{
  cursor: pointer;
}

h4{
  margin:5px;
}

.collapse-arrow{
  transition: transform 0.1s linear;
  &.uncollapsed{
    transform: rotate(90deg);
  }
}

  
.app-body {
    background-color: var(--colour-primary);
    color: var(--colour-text);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }

  .nav-list{
    display:flex;
    position:sticky;
    overflow-x:auto;
    scrollbar-width: thin;
    .nav-element{
      padding:10px;
      color: #aaccff;
      @media screen and (hover:none){
        border-top:var(--colour-primary) 1px solid;
        border-right:var(--colour-primary) 1px solid;
      }
      &.active{
          background-color:var(--colour-primary);
          &:hover{
            background-color:var(--colour-primary-hover);
            cursor:pointer;
          }
      }
      &.visible{
        opacity:100%;
        transition: opacity 0.3s linear, width 0.3s linear, padding 0.3s linear, margin 0.3s linear;
        &:hover{
          background-color:var(--colour-primary-hover);
          cursor:pointer;
        }
      }
      &.hidden{
        width:0px;
        padding:0px;
        margin:0px;
        border:0px;
        opacity:0%;
        transition:width 0.3s 0.3s linear, opacity 0.3s linear;
        p{
          margin:0px;
          font-size: 0px;
        }
      }
      p{
        margin:0px;
        font-size: min(calc(8px + 1vmin), 25px);
        font-weight:bold;
      }
    }
  }
header{
  width:100%;
}

.header-items-container{
  display:flex;
  width:100%;
  height:100%;
  @media screen and (width > 800px){
  }
  @media screen and (width <= 800px){
    flex-direction:column;
    justify-content: space-around;
    .tech-stacks{
      height:calc(30vw);
      .tech_stack{
        height:calc(100% - 30px);
      }
    }
    .text-summary-container{
      width:calc(100% - 20px);
      h1{
        font-size:calc(4vw)
      }
      h2{
        font-size:calc(3vw)
      }
      h3{
        font-size:calc(2vw)
      }
    }
  }
  .text-summary-container{
    text-align: left;
    margin:10px;
  }
}