p, li, h3, h4{
    text-align:start;
}
li{
    padding:8px;
}

.feature-breakdown-container{
    width:100%;
    h4{
        text-align: start;
    }
    .feature-container{
        overflow:hidden;
        @media screen and (width <= 500px){
            flex-direction:column;
            overflow-y:auto;
        }
        @media screen and (width > 500px){
            flex-direction:row;
            overflow-x:auto;
            >div{
                min-width:500px;
            }
            @media screen and (hover:hover){
                scrollbar-width: none;
                &:hover{
                    scrollbar-width: thin;
                }
            }
            @media screen and (hover:none){
                scrollbar-width: thin;
            }
        }
        >*{
            margin:10px;
        }
        &.visible{
            transition: opacity 0.2s 0.2s linear, height 0.2s linear, margin 0.2s linear, padding 0.2s linear;
            opacity: 100%;
            margin: 10px 0px;
        }
        &.hidden{
            transition: opacity 0.2s linear, height 0.2s 0.2s linear, margin 0.2s 0.2s linear, padding 0.2s 0.2s linear;
            opacity: 0%;
            height: 0px;
            margin: 0px 0px;
            padding: 0px;
        }
    }
}