.page-layout#home-page{
    --colour-secondary-hover:#221872;
    --colour-secondary:#281D88;
    overflow-x: default;
    align-items: flex-start;
}

.tech-stacks{
    align-self:flex-start;
    height:100%;
    width:auto;
    .tech_stack{
        height:min(80px, 8vw);
        margin:5px;
        padding: 5px;
        width:calc(100% - 20px);
        object-fit:contain;
        flex-grow: 1;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
        &.clicked{
            background-color: var(--colour-secondary);
            box-shadow: 0 0 0 rgba(0,0,0,0);
        }
    }
    h4 {
        font-size: min(50px, 5vw);
        text-align: center;
        vertical-align: middle;
    }
}

.projects-container{
  height:auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex:1;
  display:flex;
  @media screen and (width > 1200px) {
    flex-direction:row;
    .thumbnail-container{
        width:500px;
    }
  }
  @media screen and (width <= 1200px) {
    flex-direction:column;
  }
}

.thumbnail-container{
    position:relative;
    border-radius:5px;
    margin:10px;
    padding:10px;
    max-width:550px;
    overflow-x: default;

    @media screen and (width < 750px){
        video {
            width:100%;
        }
        .tech-stack-container{
            flex-direction: column;
        }
    }

    &:hover{
        filter:brightness(120%);
        background-color: var(--colour-secondary);
        video{
            cursor:pointer;
        }
    }
    .tech-stack-container{
        display:flex;
        &.absolute{
            position:absolute;
            right:10px;
        }
        p{
            z-index:3;
            background-color: var(--colour-secondary-hover);
            margin:3px;
            padding:3px;
            border-radius:3px;
            opacity:50%;
            font-size:15px;
            &:hover{
                opacity:100%;
            }
        }
    }
}